body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 250, 252);
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: white;
    border-color: white;
    padding: 0;
    margin-right: 150px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: black;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 80px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 40px;
    left: 60%;
    margin-left: 425px;
}


.media{
    display: flex;
    position: relative;
    gap: 10px;
    margin-left: 400px;
    transform: scale(2, 2);
}

h4{
    font-size: 50px;
    margin: 0px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:500px) {
    h4{
        margin-right: 135px;
    }

}

@media (max-width: 900px) {
    .links {
        position: static;
        transform: none;
        order: 1;
        width: 100%;
        padding: 10px 0;
        margin:0px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
    h4{
        margin-left: 140px;
    }
    .media{
        margin: 0px;
        margin-left:150px;
    }
    
}

@media (max-width: 600px) {
    .links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .media{
        align-items: center;
        gap: 10px;
    }
    .header{
        height: 300px;
    }

}