body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 250, 252);
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease-out;
}
button{
    display: none;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: black;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 80px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.media{
    display: flex;
    position: relative;
    gap: 10px;
    margin-right:150px ;
    transform: scale(2, 2);
}

h4{
    font-size: 50px;
    margin: 0px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a:hover{
    padding-left: 1.5rem;
    background-color: rgb(222, 223, 225);
}
@media (max-width: 900px) {
    h4{
        margin-right: 90px;
    }
    
    .links {
        flex-direction: column;
        align-items: center;
        gap:15px;
    }
    .header {
        flex-direction:column ;
        padding: 10px 0;
        height: 285px;
    }
    .media{
        order: 1;
        margin: 15px 0;
    }

     a:hover {

        background-color: rgb(222, 223, 225);;
      }

}

@media (max-width: 600px) {
    h4{
        font-size: 40px;
    }
    a{
        font-size: 25px;
    }

}